<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cuisine</key>
		<string>Italia</string>
		<key>dishName</key>
		<string>Pasta</string>
		<key>stepToMake</key>
		<string>1) Boil pasta.   2) Cook sauce with tomato, meat, etc.  3) Combine &amp; serve.</string>
		<key>ingredient</key>
		<array>
			<string>Onion</string>
			<string>Spaghetti</string>
			<string>Tomato</string>
		</array>
		<key>picture</key>
		<string>pasta.jpeg</string>
		<key>mainIngredient</key>
		<string>Cheese</string>
	</dict>
    <dict>
        <key>cuisine</key>
        <string>Italia</string>
        <key>dishName</key>
        <string>Lasagna</string>
        <key>stepToMake</key>
        <string>1) Layer pasta, sauce, and cheese. 2) Bake until golden. 3) Let cool and serve.</string>
        <key>ingredient</key>
        <array>
            <string>Tomato Sauce</string>
            <string>Ground Beef</string>
            <string>Ricotta</string>
            <string>Lasagna Sheets</string>
            <string>Mozzarella</string>
        </array>
        <key>picture</key>
        <string>lasagna.jpeg</string>
        <key>mainIngredient</key>
        <string>Tomato</string>
    </dict>
    <dict>
        <key>cuisine</key>
        <string>Italia</string>
        <key>dishName</key>
        <string>Risotto</string>
        <key>stepToMake</key>
        <string>1) Sauté onions. 2) Add rice and broth gradually. 3) Stir until creamy.</string>
        <key>ingredient</key>
        <array>
            <string>Arborio Rice</string>
            <string>Onion</string>
            <string>Parmesan</string>
            <string>White Wine</string>
            <string>Butter</string>
        </array>
        <key>picture</key>
        <string>risotto.jpeg</string>
        <key>mainIngredient</key>
        <string>Cheese</string>
    </dict>
    <dict>
        <key>cuisine</key>
        <string>Italia</string>
        <key>dishName</key>
        <string>Margherita Pizza</string>
        <key>stepToMake</key>
        <string>1) Prepare dough. 2) Add sauce, cheese, basil. 3) Bake.</string>
        <key>ingredient</key>
        <array>
            <string>Dough</string>
            <string>Tomato Sauce</string>
            <string>Mozzarella</string>
            <string>Basil</string>
        </array>
        <key>picture</key>
        <string>margheritapizza.jpeg</string>
        <key>mainIngredient</key>
        <string>Tomato</string>
    </dict>
    <dict>
        <key>cuisine</key>
        <string>Italia</string>
        <key>dishName</key>
        <string>Gnocchi</string>
        <key>stepToMake</key>
        <string>1) Boil potatoes. 2) Mix with flour to form dough. 3) Boil and serve with sauce.</string>
        <key>ingredient</key>
        <array>
            <string>Potato</string>
            <string>Flour</string>
            <string>Salt</string>
            <string>Parmesan</string>
        </array>
        <key>picture</key>
        <string>gnocchi.jpeg</string>
        <key>mainIngredient</key>
        <string>Potato</string>
    </dict>
    <dict>
        <key>cuisine</key>
        <string>Canadian</string>
        <key>dishName</key>
        <string>Butter Tarts</string>
        <key>stepToMake</key>
        <string>1) Prepare pastry shells. 2) Fill with buttery mixture. 3) Bake until golden.</string>
        <key>ingredient</key>
        <array>
            <string>Butter</string>
            <string>Sugar</string>
            <string>Egg</string>
            <string>Raisins</string>
            <string>Pastry Shell</string>
        </array>
        <key>picture</key>
        <string>buttertarts.jpeg</string>
        <key>mainIngredient</key>
        <string>Butter</string>
    </dict>
    <dict>
        <key>cuisine</key>
        <string>Canadian</string>
        <key>dishName</key>
        <string>Nanaimo Bars</string>
        <key>stepToMake</key>
        <string>1) Make crumb base. 2) Layer custard filling. 3) Top with chocolate and chill.</string>
        <key>ingredient</key>
        <array>
            <string>Graham Cracker</string>
            <string>Custard Powder</string>
            <string>Chocolate</string>
            <string>Coconut</string>
            <string>Butter</string>
        </array>
        <key>picture</key>
        <string>nanaimobar.jpeg</string>
        <key>mainIngredient</key>
        <string>Chocolate</string>
    </dict>
    <dict>
        <key>cuisine</key>
        <string>Canadian</string>
        <key>dishName</key>
        <string>Tourtière</string>
        <key>stepToMake</key>
        <string>1) Prepare meat filling. 2) Place in pie crust. 3) Bake until golden brown.</string>
        <key>ingredient</key>
        <array>
            <string>Ground Pork</string>
            <string>Onion</string>
            <string>Spices</string>
            <string>Pie Crust</string>
        </array>
        <key>picture</key>
        <string>tourtiere.jpeg</string>
        <key>mainIngredient</key>
        <string>Ground Pork</string>
    </dict>
    <dict>
        <key>cuisine</key>
        <string>Canadian</string>
        <key>dishName</key>
        <string>Maple Salmon</string>
        <key>stepToMake</key>
        <string>1) Marinate salmon in maple glaze. 2) Bake or grill. 3) Serve with lemon.</string>
        <key>ingredient</key>
        <array>
            <string>Salmon</string>
            <string>Maple Syrup</string>
            <string>Lemon</string>
            <string>Garlic</string>
        </array>
        <key>picture</key>
        <string>maplesalmon.jpeg</string>
        <key>mainIngredient</key>
        <string>Salmon</string>
    </dict>
	<dict>
		<key>cuisine</key>
		<string>Indian</string>
		<key>dishName</key>
		<string>Butter Chicken</string>
		<key>stepToMake</key>
		<string>1) Marinate chicken in yogurt &amp; spices. 2) Cook in butter sauce with tomato. 3) Serve over rice.</string>
		<key>ingredient</key>
		<array>
			<string>Yogurt</string>
			<string>Butter</string>
			<string>Chicken</string>
			<string>Onion</string>
			<string>Spaghetti</string>
			<string>Tomato</string>
		</array>
		<key>picture</key>
		<string>butterchicken.jpeg</string>
		<key>mainIngredient</key>
		<string>Butter</string>
	</dict>
	<dict>
		<key>cuisine</key>
		<string>Thai</string>
		<key>dishName</key>
		<string>Pad Thai</string>
		<key>stepToMake</key>
		<string>1) Soak rice noodles. 2) Stir-fry with egg, shrimp, bean sprouts &amp; sauce. 3) Garnish with peanuts.</string>
		<key>ingredient</key>
		<array>
			<string>peanut</string>
			<string>tofu</string>
			<string>Tamarind</string>
			<string>Rice Noodle</string>
			<string>Bean Sprouts</string>
			<string>Shrimp</string>
			<string>Egg</string>
		</array>
		<key>picture</key>
		<string>padthai.jpeg</string>
		<key>mainIngredient</key>
		<string>Egg</string>
	</dict>
	<dict>
		<key>cuisine</key>
		<string>American</string>
		<key>dishName</key>
		<string>Caesar Salad</string>
		<key>stepToMake</key>
		<string>1) Toss romaine with dressing &amp; croutons. 2) Top with parmesan. 3) Optionally add chicken.</string>
		<key>ingredient</key>
		<array>
			<string>Onion</string>
			<string>Lettuce</string>
			<string>Parmesan</string>
			<string>Croutons</string>
		</array>
		<key>picture</key>
		<string>ceasarsalad.jpeg</string>
		<key>mainIngredient</key>
		<string>onion</string>
	</dict>
	<dict>
		<key>cuisine</key>
		<string>American</string>
		<key>dishName</key>
		<string>Pancake</string>
		<key>stepToMake</key>
		<string>1) Cook pancake. 2) Top with Syrup. 3) Optionally add more Sugar.</string>
		<key>ingredient</key>
		<array>
			<string>Butter</string>
			<string>Flour</string>
			<string>Maple Syrup</string>
			<string>Sugar</string>
		</array>
		<key>picture</key>
		<string>pancake.jpeg</string>
		<key>mainIngredient</key>
		<string>Flour</string>
	</dict>
	<dict>
		<key>cuisine</key>
		<string>Canadian</string>
		<key>dishName</key>
		<string>Poutine</string>
		<key>stepToMake</key>
		<string>1) Prepare Fries. 2) Top with cheese. 3) Add Gravy.</string>
		<key>ingredient</key>
		<array>
			<string>Cheese</string>
			<string>Gravy</string>
			<string>Potato</string>
			<string>Crispy Onion</string>
		</array>
		<key>picture</key>
		<string>poutine.jpeg</string>
		<key>mainIngredient</key>
		<string>Potato</string>
	</dict>
	<dict>
		<key>cuisine</key>
		<string>Mexican</string>
		<key>dishName</key>
		<string>Taco</string>
		<key>stepToMake</key>
		<string>1) Toss romaine with dressing &amp; croutons. 2) Top with parmesan. 3) Optionally add chicken.</string>
		<key>ingredient</key>
		<array>
			<string>Onion</string>
			<string>Beef</string>
			<string>Lettuce</string>
			<string>Taco</string>
			<string>Tomato</string>
		</array>
		<key>picture</key>
		<string>taco.jpeg</string>
		<key>mainIngredient</key>
		<string>Tomato</string>
	</dict>
	<dict>
		<key>cuisine</key>
		<string>Asian</string>
		<key>dishName</key>
		<string>Pho</string>
		<key>stepToMake</key>
		<string>1) Prepare Broth 2) Add Noodles. 3) Optionally add beef.</string>
		<key>ingredient</key>
		<array>
			<string>Onion</string>
			<string>Beef</string>
			<string>Basil</string>
			<string>Chicken</string>
			<string>Bone</string>
		</array>
		<key>picture</key>
		<string>pho.jpeg</string>
		<key>mainIngredient</key>
		<string>Egg</string>
	</dict>
	<dict>
		<key>cuisine</key>
		<string>American</string>
		<key>dishName</key>
		<string>Pizza</string>
		<key>stepToMake</key>
		<string>1) Prepare Pizza 2) Add Noodles. 3) Optionally add beef.</string>
		<key>ingredient</key>
		<array>
			<string>Onion</string>
			<string>Beef</string>
			<string>Salami</string>
			<string>Flour</string>
			<string>Tomato</string>
		</array>
		<key>picture</key>
		<string>pizza.jpeg</string>
		<key>mainIngredient</key>
		<string>Tomato</string>
	</dict>
</array>
</plist>
